<%= link_to '予定を書く', new_user_path %>

 <%=month_calendar events: @users do |date, users|%>
   <%= date.day %> 
  <% users.each do |user| %>
    <div>
      <%=  link_to user.title %>
    </div>
    
   
  <% end %>
<% end %>

